<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseWork</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"> </script>
</head>
<body>
    <div id="app" >

      
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex justify-between">
                    <div class="mb-20 ">
                        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"  v-text="sitename"></h1>
                        <div class="h-1 w-20 bg-black rounded"></div>
                      </div>
                      <div class="flex">
                          <div>
                            <label id="listbox-label" class="block text-sm font-medium text-gray-700"> Sort by </label>
                            <div class="mt-1 relative">
                              <button v-on:click="showSort" type="button" class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                                         <span class="ml-3 block px-5" >{{option}}</span>
                       
                                <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                              
                                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                  </svg>
                                </span>
                              </button>
                          
          
                              <ul v-show="canShowSort"  class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                             
                                <li v-on:click="selectSort(state)" v-for="(state,key)  in options" class="text-gray-900 cursor-default  relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                                  <span class="font-normal ml-1 block px-5" v-bind:value="state">{{state}}</span>
                              
                                  
                                </li>
         
                          
                              </ul>
                            </div>
                          </div>
                       <div>
                           
                        <div class="mt-6 ml-8 relative">
                            <button v-on:click="showDirection" type="button" class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                                       <span class="ml-3 block px-5" >{{direction}}</span>
                     
                              <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                            
                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                              </span>
                            </button>
                        
        
                            <ul v-show="canShowDirectionSort"  class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                           
                              <li v-on:click="selectDirection(direction)" v-for="(direction,key)  in directions" class="text-gray-900 cursor-default  relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                                <span class="font-normal ml-1 block px-5" v-bind:value="direction">{{direction}}</span>
                            
                                
                              </li>
       
                        
                            </ul>
                          </div>
                       </div>
                        
                      </div>
                      <div class="mt-6">
              
                        <input type="text" placeholder="Search" v-model="search" class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                     
                      </div>
                      <div class="">
                        <button v-on:click="showCart" v-if="canShowCart" class="flex mt-6 text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-black rounded "> <span class="fa fa-shopping-cart mt-1 mr-2"></span>Cart</button>
                        <button v-else disabled  class="flex mt-6 text-white bg-black opacity-25 border-0 py-2 px-6 focus:outline-none hover:bg-black rounded " ><span class="fa fa-shopping-cart mt-1 mr-2"></span>Cart</button>
                    
                            
                      </div>
                </div>
                <div>

                </div>
                <div class="flex flex-wrap -m-4" v-if="canShowFilteredList" >
                 
                  <div class="p-4 md:w-1/3"  v-for="lesson in filteredList">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                      <img class="lg:h-48 md:h-36 w-full object-cover object-top hover:object-bottom duration-500 transition-all " v-bind:src="lesson.image" alt="blog">
                      <div class="p-6">
                      
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3" v-text="lesson.title"></h1>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3" v-text="lesson.location"></h1>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3" >Price:{{lesson.price | formatPrice}}</h1>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3" >Number of spaces:{{lesson.space}}</h1>
                        
                        <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)" class="flex mt-6 text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-black rounded">Add to cart</button>
                  <button v-else disabled  class="flex mt-6 text-white bg-black opacity-25 border-0 py-2 px-6 focus:outline-none hover:bg-black rounded">Add to cart</button>
              
                       
                      </div>
                    </div>
                  </div>
      </div>
             
    <div v-else>
      
      <div class="flex flex-wrap -m-4"  v-if="showLessons" >
        <div class="p-4 md:w-1/3" v-for="lesson in lessons">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-top hover:object-bottom duration-500 transition-all " v-bind:src="lesson.image" alt="blog">
            <div class="p-6">
            
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3" v-text="lesson.title"></h1>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3" v-text="lesson.location"></h1>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3" >Price:{{lesson.price | formatPrice}}</h1>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3" >Number of spaces:{{lesson.space}}</h1>
              
              <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)" class="flex mt-6 text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-black rounded "> <span class="fa fa-plus mt-1 mr-2"></span> Add to cart</button>
        <button v-else disabled  class="flex mt-6 text-white bg-black opacity-25 border-0 py-2 px-6 focus:outline-none hover:bg-black rounded fa fa-plus" ><span class="fa fa-plus mt-1 mr-2"></span> Add to cart</button>
    
             
            </div>
          </div>
        </div>
</div>
<div v-else >
  <div class="flex justify-between mb-2">

              
      <input type="text" placeholder="Name" v-model="name" class="w-1/2 bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      <span class="w-3/4" v-if="checkName">{{nameCheck}}</span>
      <span v-else class="w-3/4 text-red-500" >Enter a name</span>
      <div class="w-1/2"></div>
      <input type="number" placeholder="Phone" v-model="phone" class="w-1/2 bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
     <span class="w-3/4" v-if="checkRegex">{{passCheck}}</span>
     <span v-else class="w-3/4 text-red-500" >Enter a valid number</span>
      <div class="w-1/2"></div>
      <button v-on:click="checkout" v-if="canCheckout" class=" text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-black rounded ">Checkout</button>
      <button v-else disabled  class="  text-white bg-black opacity-25 border-0 py-2 px-6 focus:outline-none hover:bg-black rounded " >Checkout</button>
    
    
  </div>
  
  <div class="flex flex-wrap -m-4">
    <div class="p-4 md:w-1/3" v-for="lesson in lessonInCart">
      <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
        <img class="lg:h-48 md:h-36 w-full object-cover object-top hover:object-bottom duration-500 transition-all " v-bind:src="lesson.image" alt="blog">
        <div class="p-6">
        
          <h1 class="title-font text-lg font-medium text-gray-900 mb-3" v-text="lesson.title"></h1>
          <h1 class="title-font text-lg font-medium text-gray-900 mb-3" v-text="lesson.location"></h1>
          <h1 class="title-font text-lg font-medium text-gray-900 mb-3" >Price:{{lesson.price | formatPrice}}</h1>
          <button v-on:click="removeFromCart(lesson)" class="flex mt-6 text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-black rounded ">Remove</button>

        </div>
      </div>
    </div>
</div>
</div>
    </div>
   
            </div>
          </section>

    </div>
    
</body>
<script>
    var store = new Vue({
        el:'#app',
        data:{
            sitename:'After School Club',
           lessons:[],
            sort:false,
            directionSort:false,
            options:{
                Su:'Subject',
                Lo:'Location',
                Pr:'Price',
                Av:'Availability'
            },
            directions:{
                ASC:'Ascending',
                DESC:'Descending'
            },
            direction:'Ascending',
            option:'Sort',
            search:'',
            cart:[],
            name:'',
            phone:'',
            lessonInCart:[],
            componentLoaded:false,
            showLessons:true,
            passCheck:'',
            nameCheck:'',
            nameCheckValue:'',
            passCheckValue:''
        },
        created: function (){
         this.createLesson();
        },
        filters:{
            formatPrice:function(price){
                if(!parseInt(price)){return "";}
                if(price > 99999){
                    var priceString = (price/100).toFixed(2);
                    var priceArray = priceString.split("").reverse();
                    var index = 3;
                    while(priceArray.length > (index + 3)){
                        priceArray.splice((index+3),0,",");
                        index += 4;
                    }
                    return "$"+ priceArray.reverse().join("");
                }else{
                    return "$" + (price/100).toFixed(2);
                }
            }
             },

        methods:{
          async createLesson(){
            const lessons = await axios.get('./lessons.json');
            this.lessons = lessons.data.lessons;
            this.componentLoaded = true;
            console.log('Content Loaded');
          },
            compare_function(obj1, obj2){
             
             if(this.option === 'Subject'){
       
                 if (obj1.title == obj2.title) return 0;
if (obj1.title < obj2.title){
 return -1 
} else {return 1};
             }else if(this.option === 'Location'){
                               
if (obj1.location == obj2.location) return 0;
if (obj1.location < obj2.location){
 return -1 
} else {return 1};
             }else if(this.option === 'Price'){
                               
if (obj1.price == obj2.price) return 0;
if (obj1.price < obj2.price){
 return -1 
} else {return 1};
             }else if(this.option === 'Availability'){
                               
if (obj1.availableSpace == obj2.availableSpace) return 0;
if (obj1.availableSpace < obj2.availableSpace){
 return -1 
} else {return 1};
             }


},

compare_function_desc(obj1, obj2){
             
             if(this.option === 'Subject'){
       
                 if (obj1.title == obj2.title) return 0;
if (obj1.title < obj2.title){
 return 1 
} else {return -1};
             }else if(this.option === 'Location'){
                               
if (obj1.location == obj2.location) return 0;
if (obj1.location < obj2.location){
 return 1 
} else {return -1};
             }else if(this.option === 'Price'){
                               
if (obj1.price == obj2.price) return 0;
if (obj1.price < obj2.price){
 return 1 
} else {return -1};
             }else if(this.option === 'Availability'){
                               
if (obj1.availableSpace == obj2.availableSpace) return 0;
if (obj1.availableSpace < obj2.availableSpace){
 return 1 
} else {return -1};
             }


},
            selectSort(state){
                this.option = state;
                this.checkSort();
                this.sort = false;
            },
            checkSort(){
               const object = this.options;
               for (const key in object) {
               
                  if(this.option === object[key]){
                    if(this.direction === 'Ascending'){
                      this.lessons.sort(this.compare_function) ;
                  } else if(this.direction === 'Descending'){
                    this.lessons.sort(this.compare_function_desc)
                  }   
                  }
              }
           },
            showSort(){
               this.sort = !this.sort; 
            },
            selectDirection(direction){
                this.direction = direction;
                this.checkSort()
                this.directionSort = false;
            },
            showDirection(){
               this.directionSort = !this.directionSort; 
            },
            addToCart(product){
               this.cart.push(product.id)
                this.lessonInCart.push(product)
                   product.space --;
               
            },
            removeFromCart(lesson){
              let lessonId = lesson.id;
              
              for (let index = 0; index < this.cart.length; index++) {
                    if(lessonId === this.cart[index]){
                      // this.lessonInCart = this.lessonInCart.filter(item => item.id !== index)
                      this.lessonInCart.splice(index  ,1);
                      this.cart.splice(index,1)
                      // this.cart = this.cart.filter(item => item !== this.cart[index])

                      lesson.space ++;

                    

                      if(this.lessonInCart.length == 0){
                          this.showLessons = true;
                      }
                      return;
                    }
                    
                }
        
             
                   
               
            },
            canAddToCart:function(product){
                return product.availableSpace > this.cartItemCount(product.id)
            },
            cartItemCount(productId){
                let count = 0;

                for (let index = 0; index < this.cart.length; index++) {
                    if(productId === this.cart[index]){
                        count ++;
                    }
                    
                }
                
                return count;
            } ,
            showCart(){
              this.showLessons = !this.showLessons;
              
            }   ,
            checkout(){
             alert('Your order has been submitted.....redirecting you to the home screen!!')
             this.showLessons = true;
           }
        },
        computed:{
            canShowSort(){
                return this.sort
            },
          
            canShowDirectionSort(){
                return this.directionSort
            },
            canShowFilteredList(){
              return this.search.length > 0 ? true : false
            },
        filteredList(){
          if(!this.componentLoaded){
            return null;
          }
          else{
            let listData = this.lessons;

            let searchItem = listData.title;

            return listData.filter((searchItem)=>{
              return searchItem.title.toLowerCase().match(this.search.toLowerCase())
            })
          }
        },
     
           canShowCart(){
           return   this.cart.length > 0 ? true : false
           },
           checkRegex(){
            var reg = /^[0-9]{9,12}$/;
            
            if(reg.test(this.phone)){
              this.passCheckValue = true;

              return true;
            }else{
              this.passCheckValue = false;
              return false;
            }
            
           },
           checkName(){
            var regex = /^[a-zA-Z ]{2,30}$/;

            if(regex.test(this.name)){
              this.nameCheckValue = true;
              return true;
            }else {
              this.nameCheckValue = false;
             return false
            }
           },
           canCheckout(){
             if(this.nameCheckValue && this.passCheckValue){
               return true;
             }
             return false;
           },
          
        }
    });
</script>
</html>